Repository gocardless/woocommerce-gateway-gocardless, pull requests merged in 2025-03, with the labels that each got.

#44 Bump WooCommerce "tested up to" version 9.8
  includes/class-wc-gocardless-gateway.php
  tests/e2e/specs/email.spec.js
  tests/e2e/specs/instant-bank-payment.spec.js
  tests/e2e/utils/index.js
  woocommerce-gateway-gocardless.php
Labels: status: e2e tests passing

#45 Update all actions we use in our workflows to pull from specific pinned commits
  .github/workflows/backlog-automation-issues.yml
  .github/workflows/close-stale-issues.yml
  .github/workflows/deploy-to-wordpress-org.yml
  .github/workflows/e2e.yml
  .github/workflows/generate-zip.yml
  .github/workflows/php-compatibility.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpunit.yml
  .github/workflows/push-asset-readme-updates-to-wordpress-org.yml
  .github/workflows/qit.yml
  .github/workflows/wordpress-version-checker.yml
Labels: needs: qit default tests, status: e2e tests failing

#47 Release/2.9.3
  changelog.txt
  package-lock.json
  package.json
  readme.txt
  woocommerce-gateway-gocardless.php
Labels: needs: qit activation test, needs: qit api test, status: e2e tests passing
