Repository gocardless/woocommerce-gateway-gocardless, pull requests merged in 2025-04, with the labels that each got.

#50 Ensure the subscription is cancelled immediately when the payment is cancelled.
  includes/class-wc-gocardless-gateway.php
Labels: status: e2e tests passing

#51 Run E2E tests on the zip generated by the generate-zip workflow and ensure it runs on each PR.
  .github/workflows/e2e.yml
  tests/e2e/bin/set-core-version.js
Labels: status: e2e tests passing, status: e2e tests failing

#49 Compatibility testing with WordPress 6.8
  readme.txt
Labels: status: e2e tests passing, needs: WP RC test

#59 Release/2.9.4
  changelog.txt
  package-lock.json
  package.json
  readme.txt
  tests/e2e/specs/admin.spec.js
  woocommerce-gateway-gocardless.php
Labels: needs: qit api test, needs: qit e2e test, status: e2e tests failing
